[build]
target = "trunk-target.html"
public_url = "/frameworks/keyed/silkenweb/dist/"

[tools]
wasm_bindgen = "0.2.88"
wasm_opt = "version_114"

[[hooks]]
stage = "post_build"
command = "sh"
# `rsync` using a checksum rather than file times, otherwise `trunk serve` gets
# into a loop where it builds, modifies `index.html`, which triggers another 
# build.
command_arguments = [
    "-c",
    "rsync --checksum \"$TRUNK_STAGING_DIR/index.html\" .",
]
